<h1><%= @task.title%></h1>
<p><%= @task.details%></p>
<%= check_box_tag "task_#{@task.id}", @task.completed, @task.completed?  #check_box_tag name, value, true, you can as well add a disable option like so:  , disabled: "#{@task.completed?}"
%>
<ul>
  <li> <%= link_to 'Edit', edit_path(@task), class:"link" %></li>
  <li><%= link_to "Destroy", task_path(@task),class:"link",
method: :delete,
data: { confirm: "Are you sure?" } %></li>
  <li> <%= link_to 'Back to list', tasks_path(@tasks), class:"btn btn-primary" %></li>
</ul>
